<%- include("./includes/head.ejs") %>
    <title> home</title>
    <link rel="stylesheet" href="/css/home.css" >

</head>
<body>
    <%- include("./includes/header.ejs") %>
    <main>
        <%- include("./includes/sidebar.ejs") %>
        <section class="main">
            <h2>Posts</h2>
            <div class="blogs"> 
                <% if (blogs.length > 0) { %>
                    <% for (let blog of blogs) { %>
                        <a href="/blog/id" class="blog-container" >
                            <div class="title-container" >
                                <div class="title-details">
                                    <span></span>
                                    <span><%= blog.authorName %></span>
                                    <span><%= blog.createdAt %></span>
                                </div>
                                <h2><%= blog.title %></h2>
                            </div>
                            <p class="blog-content" >
                                <%= blog.content %>
                            </p>
                            <button class="blog-btn" ><%= blog.tag %></button>
                        </a>
                    <% } %>
                <% } else { %>
                    <h1>No Blogs Found!</h1>
                <% } %>
            </div>
            <div class="pagination" >
                
            </div>
            
        </section>
    </main>
</body>
</html>